html{
    width: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: "Lucida Sans", Ariel, sans-serif;
    width: 1520px;
    height: auto;
    background-image: linear-gradient( to bottom, rgba(136, 194, 168, 0.45), rgba(191, 242, 206, 0.45)), url("Images/slika.png");
    margin: auto;
}

header{
    display: block;
    background-color: #ffbf00;
    height: 80px;
    width: 100%;
}

.logo img{
    position: relative;
    display: inline;
    float: left;
    left: 65px;
    height: 78px;
    width: 248px;
}

header nav{
    position: relative;
    display: inline;
    float: left;
    line-height: 80px;
    padding-left: 195px;
}

nav .cell{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 25px;
    display: inline;
    text-align: center;
    color: darkcyan;
}

nav a:hover{
    color: orangered;
    font-size: 16px;
    transition: 0.25s;
}
nav a:active{
    background-color: darkcyan;
    color: beige;
    border-radius: 60px;
}

.arrow img{
    background-color: orangered;
    border-radius: 500px;
    position: fixed;
    width: 100px;
    height: 100px;
    right: 40px;
    bottom: 20px;
    z-index: 1;
    opacity: 0.6;
    transition: 0.4s;

}
.arrow img:hover {
    opacity: 1;
    width: 115px;
    height: 115px;
}

.schoollink a:hover {

    color: #ffbf00;
}

.social_media{
    position: relative;
    display: inline;
    float: right;
    right: 120px;
    line-height: 95px;
}

.media_icon{
    position: relative;
    top: 7px;
    width: 45px;
    height: 45px;
}

.hello{
    display: inline-block;
    position: relative;
    padding: 0 15px;
    background: rgba( 33,33,33, 0.5 );
    border-radius: 500px;
    height: 500px;
    width: 85%;
    left: 85px;
    top: 40px;


}
.hello p{
    display: inline-block;
    float: left;
    width: 40%;
    padding: 50px 35px 0 140px;
    font-size: 45px;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
    text-shadow: 4px 4px black;
    color: beige;
}
.hello img{
    float: left;
    display: inline;
    width: 39.75%;
}

.naslov{
    color: #ffbf00;
    text-align: center;
    font-size: 30px;
    font-family: Comic Sans MS, sans-serif;
}
.podnaslov{
    font-size: 22px;
    color: greenyellow;
}

.about_me{
    background: rgba( 3, 24, 56, 0.7);
    border-radius: 500px;
    display: inline-block;
    margin-top: 50px;
    width: 850px;
    height: auto;
    color: beige;
    font-size: 12px;
    text-shadow: 2px 2px black;
}
.text{
    font-family: Comic Sans MS, sans-serif;
    width: 80%;
    padding-left: 90px;
    padding-bottom: 40px;
    font-size: 18px;
    text-align: justify;
}

.omileni_patuvanja{
    position: relative;
    left: 10px;
    padding-bottom: 10px;
    background: rgba(148, 16, 69, 0.7);
    border-radius: 500px;
    display: inline-block;
    margin-top: 70px;
    width: 82%;
    height: auto;
    color: beige;
    font-size: 18px;
    text-shadow: 2px 2px black;
}

.drzava{
    width: 46%;
    display: inline-block;
}

.obrazovanie{
    position: relative;
    left: 30px;
    background: rgba( 3, 112, 49, 0.7 );
    border-radius: 500px;
    display: inline-block;
    margin-top: 70px;
    width: 82%;
    height: auto;
    color: beige;
    font-size: 18px;
    text-shadow: 2px 2px black;
}

#kontakt{
    position: relative;
    float: left;
    margin-left: 100px;
    bottom: 20px;
    background: rgba( 94, 10, 10, 0.7 );
    border-radius: 500px;
    margin-bottom: 100px;
    width: 87%;
    height: auto;
    color: beige;
    font-size: 18px;
    text-shadow: 2px 2px black;
}

.form{
    font-family:  Comic Sans MS, sans-serif;
    float: left;
    position: relative;
    padding-left:140px;
    padding-top: 30px;
}

.radiobuttons{
    margin-left: 80px;
}

.media_icon2{
    position: relative;
    left: 160px;
    padding-left: 5px;
}
#kontakt a img:hover{
    transform: scale(1.08);
}

.social_media a img:hover{
    transform: scale(1.1);
}

#submit:hover, #submitt:hover{
     transform: scale(1.08);
}

footer{
    position: static;
    bottom: 0;
    display: block;
    clear: both;
    background-color: #ffbf00;
    height: 65px;
    width: 100%;
    color: darkcyan;
}